* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.page {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    overflow-y: auto;
}

.menu {
    width: 150px;
    background: #f7a116;
}

.logo {
    background: black;
    padding: 1em 0.7em;
}

.menuItem {
    padding: 1.5em 0 0.5em 0;
}

.menuItem:hover {
    background: #e6c06e;
}

.menuIcon {
    max-width: 4em;
    display: table;
    margin: 0 auto;
}

.menuLabel {
    display: table;
    margin: 0.5em auto;
}

img {
    max-width: 100%;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.mainBar {
    height: 76px;
    display: flex;
}

.barItem {
    flex: 1;
    display: flex;
    justify-content: center;
}

.itemContainer {
    align-self: center;
    text-align: center;
}

.priceName {
	display: inline-block;
	min-width: 4em;
	border-radius: 0.7em;
	padding: 0.3em 0.5em;
	margin-bottom: 0.5em;
	color: white;
	background: lightskyblue;
}

.bid {
	margin-right: 0.5em;
}

.ask {
	margin-left: 0.5em;
	color: red;
}

.userName {
	font-size: 2em;
}

.mainBody {
    flex: 1;
    background: lightgrey;
    display: flex;
    flex-direction: column;
}

.balance {
	width: 100%;
	border-collapse:separate;
  	border-spacing: 1em;
}

tr {
    text-align: center;
    position: relative;
}

.balanceItemName {
	background: white;
	padding: 1em;
	margin-bottom: 0.2em;
	overflow: auto;
	border-radius: 5px 5px 0 0;
}

.balanceItemName1 {
	float: left;	
	padding: 0.3em 0.5em;
}

.balanceItemName2 {
	float: right;
	min-width: 4em;
	padding: 0.3em 0.5em;
	border-radius: 0.7em;
	color: white;
	background: lightskyblue;
}

.balanceItemValue {
	background: white;
	padding: 0.5em;
	font-size: 2em;
	border-radius: 0 0 5px 5px;
}

.history {
	margin: 0 1em 1em 1em;
	background: white;
	padding: 1em;
	border-radius: 5px;
}

.historyTable {
	width: 100%;
	border-collapse: collapse;
}

.historyTable th {
	border-bottom: 2px solid lightgrey;
	line-height: 2em;
}

.historyTable td {
	border-bottom: 1px solid lightgrey;
	line-height: 2em;
}

.walletContainer {
	flex:1;
	height: 250px;
	margin: 1em;
	padding: 1em;
	border-radius: 5px;
	background: white;
	display: flex;
}

.walletLeft {
	flex: 1;
	padding: 2em;
    border-right: 2px solid lightgrey;
}

.walletLabel {
	font-weight: bold;
}

.walletBlock {
	width: 100%;
	display: flex;
	margin: 0.5em 0 2em 0;
}

.walletUnit {
	display: inline-block;
	height: 1em;
	width: 5em;
	padding: 0.3em;
	border: 1px solid grey;
	border-right: 0px;
	text-align: center;
	font-size: 1em;
}

.walletInput {
	flex: 1;
	padding: 0.2em;
	border: 1px solid grey;
	font-size: 1em;
}

.button {
	min-width: 4em;
	background: deepskyblue;
	padding: 0.5em;
	text-align: center;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.walletRight {
	width: 350px;
	height: 200px;
	margin: 1em;
	background: lightyellow;
	display: flex;
	align-self: center;
    text-align: center;
}

.walletDescription {
	flex: 1;
	font-size: 2em;
	color: grey;
	align-self: center;
    text-align: center;
}