<!DOCTYPE html>
<html>

<head>
    <title>Demo</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/sprintf.js"></script>
    <script type="text/javascript" src="js/web3.min.js"></script>
    <script type="text/javascript" src="data/SLS_ABI.js"></script>
    <script type="text/javascript" src="data/ETHERDELTA_ABI.js"></script>
    <script type="text/javascript">
    if (typeof web3 !== 'undefined') {
        web3 = new Web3(web3.currentProvider);
    } else {
        // set the provider you want from Web3.providers
        web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
    }

    var eth_address = '0x0000000000000000000000000000000000000000';
    var account;
    var sls = new web3.eth.Contract(sls_abi, sls_address);
    var etherDelta = new web3.eth.Contract(etherdelta_abi, etherdelta_address);

    web3.eth.getAccounts().then(function(r) {
        account = r[0];
        $("#account").text(sprintf("Account: %s", account));
    });

    setInterval(function() {
        web3.eth.getBalance(account).then(function(r) {
            $("#ethInWallet").text(sprintf("ETH in wallet: %s", r));
        })

        sls.methods.balanceOf(account).call().then(function(r) {
            $("#slsInWallet").text(sprintf("SLS in wallet: %s", r));
        });

        etherDelta.methods.balanceOf(eth_address, account).call().then(function(r) {
            $("#ethTokenInEtherDelta").text(sprintf("ETH Token in EtherDelta: %s", r));
        });

        etherDelta.methods.balanceOf(sls_address, account).call().then(function(r) {
            $("#slsTokenInEtherDelta").text(sprintf("SLS Token in EtherDelta: %s", r));
        });
    }, 1000);

    function btn_deposit() {
        etherDelta.methods.deposit().send({ from: account, value: web3.utils.toWei(1, 'ether') })
            .then(console.log);
    }

    function btn_withdraw() {
        etherDelta.methods.withdraw(web3.utils.toWei(1, 'ether')).send({ from: account })
            .then(console.log);
    }

    function btn_approve() {
        sls.methods.approve(etherdelta_address, slsToWei(1)).send({ from: account })
            .then(console.log);
    }

    function btn_depositToken() {
        etherDelta.methods.depositToken(sls_address, slsToWei(1)).send({ from: account })
            .then(console.log);
    }

    function btn_withdrawToken() {
        etherDelta.methods.withdrawToken(sls_address, slsToWei(1)).send({ from: account })
            .then(console.log);
    }

    function slsToWei(v) {
        return v * 100000000;
    }
    </script>
</head>

<body>
    <div id="account"></div>
    <br/>
    <div id="ethInWallet"></div>
    <div id="slsInWallet"></div>
    <br/>
    <div id="ethTokenInEtherDelta"></div>
    <div id="slsTokenInEtherDelta"></div>
    <hr/>
    <button type="button" onclick="btn_deposit()">deposit 1ETH</button>
    <button type="button" onclick="btn_withdraw()">withdraw 1ETH</button>
    <hr/>
    <button type="button" onclick="btn_approve()">approve 1SLS</button>
    <button type="button" onclick="btn_depositToken()">depositToken 1SLS</button>
    <button type="button" onclick="btn_withdrawToken()">withdrawToken 1SLS</button>
</body>

</html>