<!DOCTYPE html>
<html>

<head>
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/sprintf.js"></script>
    <script type="text/javascript" src="js/web3.min.js"></script>
    <script type="text/javascript" src="data/SLS_ABI.js"></script>
    <script type="text/javascript" src="data/SOLAEXCHANGE_ABI.js"></script>
    <script type="text/javascript">
    if (typeof web3 !== 'undefined') {
        web3 = new Web3(web3.currentProvider);
    } else {
        // set the provider you want from Web3.providers
        web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
    }

    var eth_address = '0x0000000000000000000000000000000000000000';
    var autoSwitchAccount = true; //如要測試多帳號, 可改成false
    var account;
    var currentBlock;
    var dataInitialized = false;
    var sls = new web3.eth.Contract(sls_abi, sls_address);
    var solaExchange = new web3.eth.Contract(solaExchange_abi, solaExchange_address);
    var eventList = new Object;

    function openTradeDialog(logId) {
        var e = eventList[logId];
        var rv = e.returnValues;

        var type, sls, eth, rate;
        if (sls_address == rv.tokenGet) {
            type = "Sell";
            sls = weiToSls(rv.amountGet);
            eth = web3.utils.fromWei(rv.amountGive, 'ether');
            rate = eth / sls;
        } else {
            order = "Buy";
            sls = weiToSls(rv.amountGive);
            eth = web3.utils.fromWei(rv.amountGet, 'ether');
            rate = eth / sls;
        }

        $("#tradeDialogTradeType").text(type);
        $("#tradeDialogDescription").html(sprintf("Order <br/> %s SLS @ %s SLS/ETH <br/> Expires in %s blocks", sls, rate, rv.expires));
        $("#tradeDialogAmountLabel").text("SLS");
        $("#tradeDialogAmount").val(sls);
        $("#tradeDialogEth").val(eth);
        $("#tradeDialogFee").val("?");

        $("#tradeDialog").data("logId", logId);
        $("#tradeDialog").data("rate", rate);

        $("#tradeMask").show();
    }

    $(function() {
        $("#orderBook").on('click', "tr", function() {
            var logId = $(this).data("logid");
            if (logId) {
                openTradeDialog(logId);
            }
        });

        $("#myOrders").on('click', "tr", function() {
            var logId = $(this).data("logid");
            if (logId) {
                var e = eventList[logId];
                var rv = e.returnValues;

                var r = e.signature.slice(0, 34);
                var s = '0x' + e.signature.slice(34, 66);
                var v = '0x' + e.signature.slice(66, 68);
                v = web3.utils.toDecimal(v) + 27;

                solaExchange.methods.cancelOrder(rv.tokenGet, rv.amountGet, rv.tokenGive, rv.amountGive, rv.expires, rv.nonce, v, r, s).send({ from: account })
                    .then(function(r) {
                        console.log(r);
                        refreshOrder();
                    });
            }
        });

        $("#tradeDialogConfirm").click(function() {
            var logId = $("#tradeDialog").data("logId");
            var e = eventList[logId];
            var rv = e.returnValues;

            var r = e.signature.slice(0, 34);
            var s = '0x' + e.signature.slice(34, 66);
            var v = '0x' + e.signature.slice(66, 68);
            v = web3.utils.toDecimal(v) + 27;

            var amountGet;
            if (sls_address == rv.tokenGet) {
                amountGet = slsToWei($("#tradeDialogAmount").val());
            } else {
                amountGet = web3.utils.toWei($("#tradeDialogEth").val(), 'ether');
            }

            solaExchange.methods.trade(rv.tokenGet, rv.amountGet, rv.tokenGive, rv.amountGive, rv.expires, rv.nonce, rv.user, v, r, s, amountGet).send({ from: account })
                .then(function(r) {
                    console.log(r);
                    refreshOrder();
                    refreshTrade();
                });

            $("#tradeMask").hide();
        });

        $("#tradeDialogAmount").bind('keyup mouseup', function() {
            var eth = $("#tradeDialog").data("rate") * $("#tradeDialogAmount").val();
            $("#tradeDialogEth").val(eth);
        });

        web3.eth.getAccounts().then(function(r) {
            account = r[0];
            $("#account").text(sprintf("Account: %s", account));
        });

        setInterval(function() {
            if (autoSwitchAccount) {
                web3.eth.getAccounts().then(function(r) {
                    if (account == r[0]) {
                        return;
                    }

                    account = r[0];
                    $("#account").text(sprintf("Account: %s", account));
                    dataInitialized = false;
                });
            }

            if (account) {
                web3.eth.getBlockNumber().then(function(r) {
                    currentBlock = r;
                    $("#currentBlock").text(sprintf("CurrentBlock: %s", currentBlock));

                    if (!dataInitialized) {
                        dataInitialized = true;
                        refreshOrder();
                        refreshTrade();
                    } else {
                        refreshExpires();
                    }
                });

                web3.eth.getBalance(account).then(function(r) {
                    $("#ethInWallet").text(sprintf("ETH in wallet: %s", web3.utils.fromWei(r, 'ether')));
                });

                sls.methods.balanceOf(account).call().then(function(r) {
                    $("#slsInWallet").text(sprintf("SLS in wallet: %s", weiToSls(r)));
                });

                solaExchange.methods.balanceOf(eth_address, account).call().then(function(r) {
                    $("#ethTokenInSolaExchange").text(sprintf("ETH Token in SolaExchange: %s", web3.utils.fromWei(r, 'ether')));
                });

                solaExchange.methods.balanceOf(sls_address, account).call().then(function(r) {
                    $("#slsTokenInSolaExchange").text(sprintf("SLS Token in SolaExchange: %s", weiToSls(r)));
                });
            }
        }, 1000);
    });

    function btn_deposit() {
        var v = $("#ethToken").val();
        solaExchange.methods.deposit().send({ from: account, value: web3.utils.toWei(v, 'ether') })
            .then(console.log);
    }

    function btn_withdraw() {
        var v = $("#ethToken").val();
        solaExchange.methods.withdraw(web3.utils.toWei(v, 'ether')).send({ from: account })
            .then(console.log);
    }

    function slsToWei(v) {
        return v * 100000000;
    }

    function weiToSls(v) {
        return v / 100000000;
    }

    function btn_approve() {
        var v = $("#slsToken").val();
        sls.methods.approve(solaExchange_address, slsToWei(v)).send({ from: account })
            .then(console.log);
    }

    function btn_depositToken() {
        var v = $("#slsToken").val();
        solaExchange.methods.depositToken(sls_address, slsToWei(v)).send({ from: account })
            .then(console.log);
    }

    function btn_withdrawToken() {
        var v = $("#slsToken").val();
        solaExchange.methods.withdrawToken(sls_address, slsToWei(v)).send({ from: account })
            .then(console.log);
    }

    function btn_orderBuySls() {
        var get = $("#orderSlsToken").val();
        var give = $("#orderEthToken").val();
        var expires = parseInt($('#orderExpires').val()) + currentBlock;
        var nonce = Date.now();
        solaExchange.methods.order(sls_address, slsToWei(get), eth_address, web3.utils.toWei(give, 'ether'), expires, nonce).send({ from: account })
            .then(function(r) {
                console.log(r);
                refreshOrder();
            });
    }

    function btn_orderSellSls() {
        var get = $("#orderEthToken").val();
        var give = $("#orderSlsToken").val();
        var expires = parseInt($('#orderExpires').val()) + currentBlock;
        var nonce = Date.now();
        solaExchange.methods.order(eth_address, web3.utils.toWei(get, 'ether'), sls_address, slsToWei(give), expires, nonce).send({ from: account })
            .then(function(r) {
                console.log(r);
                refreshOrder();
            });
    }

    function refreshOrder() {
        solaExchange.getPastEvents('Order', {
                //filter: { myIndexedParam: [20, 23], myOtherIndexedParam: '0x123456789...' }, // Using an array means OR: e.g. 20 or 23
                fromBlock: 0,
                toBlock: 'latest'
            })
            .then(function(events) {
                $("#orderBook tr:gt(0)").remove();
                $("#myOrders tr:gt(0)").remove();

                for (var i = 0; i < events.length; ++i) {
                    (function(e) {
                        var rv = e.returnValues;
                        solaExchange.methods.amountFilled(rv.tokenGet, rv.amountGet, rv.tokenGive, rv.amountGive, rv.expires, rv.nonce, rv.user, 0, "0x0", "0x0").call()
                            .then(function(filled) {
                                //console.log(e);
                                var order, rate, sls, eth, remained;
                                if (sls_address == rv.tokenGet) {
                                    order = "BUY";
                                    sls = weiToSls(rv.amountGet);
                                    eth = web3.utils.fromWei(rv.amountGive, 'ether');
                                    rate = eth / sls;
                                    color = "lightgreen";
                                    filled = weiToSls(filled);
                                    remained = sls - filled;
                                } else {
                                    order = "SELL";
                                    sls = weiToSls(rv.amountGive);
                                    eth = web3.utils.fromWei(rv.amountGet, 'ether');
                                    rate = eth / sls;
                                    color = "red";
                                    filled = web3.utils.fromWei(filled);
                                    remained = (eth - filled) * sls / eth;
                                }

                                if (remained > 0) {
                                    var expires = (rv.expires > currentBlock) ? rv.expires - currentBlock : 0;

                                    if (expires > 0) {
                                        $("#orderBook tr:last").after(sprintf("<tr id='o_%s' title='click to trade.' style='background: %s' data-logid='%s'><td>%s</td><td>%s</td><td>[%s/%s]</td><td>%s</td><td>%s</td></tr>", rv.nonce, color, e.id, order, rate, remained, sls, eth, expires));
                                    }

                                    if (rv.user == account) {
                                        $("#myOrders tr:last").after(sprintf("<tr id='mo_%s' title='click to cancel.' style='background: %s' data-logid='%s'><td>%s</td><td>%s</td><td>[%s/%s]</td><td>%s</td><td>%s</td><td>%s</td></tr>", rv.nonce, (expires > 0 ? 'lightgrey' : 'dimgray'), e.id, order, rate, remained, sls, eth, expires, (expires > 0 ? 'alive' : 'expired')));
                                    }

                                    eventList[e.id] = e;
                                }
                            });
                    })(events[i]);
                }
            });
    }

    function refreshTrade() {
        solaExchange.getPastEvents('Trade', {
                //filter: { myIndexedParam: [20, 23], myOtherIndexedParam: '0x123456789...' }, // Using an array means OR: e.g. 20 or 23
                fromBlock: 0,
                toBlock: 'latest'
            })
            .then(function(trades) {
                $("#myTrades tr:gt(0)").remove();

                for (var i = 0; i < trades.length; i++) {
                    var rv = trades[i].returnValues;
                    if (rv.get == account || rv.give == account) {
                        var order, rate, sls, eth;
                        if (sls_address == rv.tokenGet) {
                            order = (rv.get == account) ? "BUY" : "SELL";
                            sls = weiToSls(rv.amountGet);
                            eth = web3.utils.fromWei(rv.amountGive, 'ether');
                            rate = eth / sls;
                        } else {
                            order = (rv.give == account) ? "BUY" : "SELL";
                            sls = weiToSls(rv.amountGive);
                            eth = web3.utils.fromWei(rv.amountGet, 'ether');
                            rate = eth / sls;
                        }

                        $("#myTrades tr:last").after(sprintf("<tr style='background: lightgrey'><td>%s</td><td>%s</td><td>%s</td><td>%s</td></tr>", order, rate, sls, eth));
                    }
                }
            });
    }

    function refreshExpires() {
        $("#orderBook tr").each(function() {
            var logId = $(this).data("logid");
            if (logId) {
                var e = eventList[logId];
                var rv = e.returnValues;
                var expires = (rv.expires > currentBlock) ? rv.expires - currentBlock : 0;

                $(this).find('td:last-child').text(expires);
                if (expires == 0) {
                    $(this).hide();
                }
            }
        });

        $("#myOrders tr").each(function() {
            var logId = $(this).data("logid");
            if (logId) {
                var e = eventList[logId];
                var rv = e.returnValues;
                var expires = (rv.expires > currentBlock) ? rv.expires - currentBlock : 0;

                $(this).find('td:nth-last-child(2)').text(expires);
                if (expires == 0) {
                    $(this).find('td:last-child').text("expired");
                    $(this).css("background", "dimgray");
                }
            }
        });
    }
    </script>
</head>

<body>
    <div id="account"></div>
    <div id="currentBlock"></div>
    <br/>
    <div id="ethInWallet"></div>
    <div id="slsInWallet"></div>
    <br/>
    <div id="ethTokenInSolaExchange"></div>
    <div id="slsTokenInSolaExchange"></div>
    <hr/>
    <input id=ethToken type="number" value=0></input>
    <button type="button" onclick="btn_deposit()">deposit ETH</button>
    <button type="button" onclick="btn_withdraw()">withdraw ETH</button>
    <hr/>
    <input id=slsToken type="number" value=0></input>
    <button type="button" onclick="btn_approve()">approve SLS</button>
    <button type="button" onclick="btn_depositToken()">depositToken SLS</button>
    <button type="button" onclick="btn_withdrawToken()">withdrawToken SLS</button>
    <hr/>
    <label>SLS:</label>
    <input id="orderSlsToken" type="number" value=0></input>
    <label>ETH:</label>
    <input id="orderEthToken" type="number" value=0></input>
    <label>Expires:</label>
    <input id="orderExpires" type="number" value=0></input>
    <button type="button" onclick="btn_orderBuySls()">order (buy SLS by paying ETH)</button>
    <button type="button" onclick="btn_orderSellSls()">order (sell SLS for obtaining ETH)</button>
    <hr/>
    <div>
        <span style="float: left">
            <label>Order Book</label>
            <table id="orderBook">
                <tr>
                    <th>Order</th>
                    <th>SLS/ETH</th>
                    <th>SLS</th>
                    <th>ETH</th>
                    <th>EXPIRES</th>
                </tr>
            </table>
        </span>
        <span style="float: left">
            <label>My Orders</label>
            <table id="myOrders">
                <tr>
                    <th>Order</th>
                    <th>SLS/ETH</th>
                    <th>SLS</th>
                    <th>ETH</th>
                    <th>EXPIRES</th>
                    <th>STATUS</th>
                </tr>
            </table>
        </span>
        <span style="float: left">
            <label>My Trades</label>
            <table id="myTrades">
                <tr>
                    <th>Trade</th>
                    <th>SLS/ETH</th>
                    <th>SLS</th>
                    <th>ETH</th>
                </tr>
            </table>
        </span>
    </div>
    <div id="tradeMask" hidden="true">
        <div id="tradeDialog">
            <label id="tradeDialogTradeType"></label>
            <hr/>
            <div id="tradeDialogDescription"></div>
            <br/>
            <div id="tradeDialogAmountLabel"></div>
            <input id="tradeDialogAmount" type="number"></input>
            <br/>
            <br/>
            <div>ETH</div>
            <input id="tradeDialogEth" type="number" disabled></input>
            <br/>
            <br/>
            <div>Fee</div>
            <input id="tradeDialogFee" type="number" disabled></input>
            <br/>
            <br/>
            <hr/>
            <button id="tradeDialogCancel" type="button" onclick="$('#tradeMask').hide();">cancel</button>
            <button id="tradeDialogConfirm" type="button">trade</button>
        </div>
    </div>
</body>

</html>