<!DOCTYPE html>
<html>

<head>
    <!--必須在less.js之前-->
    <link rel="stylesheet/less" type="text/css" href="css/solaExchange.less?{{.Uncache}}">
    <script type='text/javascript' src='js/less.min.js'></script>
    <link rel="stylesheet" type="text/css" href="lib/fontawesome/css/font-awesome.css" />
    <!--script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/sprintf.js"></script>
    <script type="text/javascript" src="js/web3.min.js"></script>
    <script type="text/javascript" src="js/ethers.js?{{.Uncache}}"></script>
    <script type="text/javascript" src="js/Chart.min.js"></script>
    <script type="text/javascript" src="js/highstock.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCQ3UTayHzAcoPXJUM3Ag_-FBxII1o6fNg"></script>
    <script type="text/javascript" src="js/gmaps.js?{{.Uncache}}"></script>
    <script type="text/javascript" src="data/sttwABI.js?{{.Uncache}}"></script>
    <script type="text/javascript" src="data/sttwStoreABI.js?{{.Uncache}}"></script>
    <script type="text/javascript" src="data/sntwABI.js?{{.Uncache}}"></script>
    <script type="text/javascript" src="data/solaExchangeABI.js?{{.Uncache}}"></script>
    <script type="text/javascript" src="data/map_style.json?{{.Uncache}}"></script-->
    <script type="text/javascript">
    </script>
</head>

<body>
    <title>Sola Exchange</title>
    <page>
        <header>
            <div class="headerLeft">
                <img class="logo" src="img/logo.png">
                <select id="sntwTokenSelection">
                    <option value="1">SNTW1</option>
                    <option value="2">SNTW2</option>
                    <option value="3">SNTW3</option>
                </select>
            </div>
            <div class="headerRight">
                <i class="fa fa-user-o userIcon" aria-hidden="true"></i>
                <label id="userAccount">0xAeD134</label>
            </div>
        </header>
        <main>
            <div class="mainLeft">
                <div class="mainLeftUp block">
                    <label class="title">BALANCES</label>
                    <div class="content">
                        <div class="balance">
                            <span id="balanceTitle">STTW</span>
                            <span>
                                <span id="balanceValue">100.23</span>
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="balance">
                            <span id="balanceTitle">SNTW1</span>
                            <span>
                                <span id="balanceValue">50</span>
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="balance">
                            <span id="balanceTitle">SNTW2</span>
                            <span>
                                <span id="balanceValue">0</span>
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="balance">
                            <span id="balanceTitle">SNTW3</span>
                            <span>
                                <span id="balanceValue">0</span>
                                <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mainLeftDown block">
                    <label class="title">NEW ORDER</label>
                    <div class="content">
                        <div class="input">
                            <span class="inputTitle">Amount</span>
                            <input type="number" value=0></input>
                            <span class="inputUnit">SNTW</span>
                        </div>
                        <div class="input">
                            <span class="inputTitle">Price</span>
                            <input type="number" value=0></input>
                            <span class="inputUnit">STTW</span>
                        </div>
                        <div class="input">
                            <span class="inputTitle">Expires</span>
                            <input type="number" value=0></input>
                            <span class="inputUnit">Blocks</span>
                        </div>
                        <div class="input">
                            <span class="inputTitle">Sub-total</span>
                            <input type="number" value=0></input>
                            <span class="inputUnit">STTW</span>
                        </div>
                        <div class="input">
                            <span class="inputTitle">Commission</span>
                            <input type="number" value=0></input>
                            <span class="inputUnit">STTW</span>
                        </div>
                        <div class="input">
                            <span class="inputTitle">Total</span>
                            <input type="number" value=0></input>
                            <span class="inputUnit">STTW</span>
                        </div>
                        <div class="orderButton">
                            <div class="buy">Buy</div>
                            <div class="sell">Sell</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainRight">
                <div class="mainRightUp block">
                    <label class="title">CHART</label>
                    <div class="content">
                        TODO
                    </div>
                </div>
                <div class="mainRightDown">
                    <div class="mainRightDownRight block">
                        <label class="title">OPEN ORDERS</label>
                        <div class="content">
                            <div class="table">
                                <div class="rowHead">
                                    <div class="cell">Order</div>
                                    <div class="cell">Pair</div>
                                    <div class="cell">Price</div>
                                    <div class="cell">Units Filled</div>
                                    <div class="cell">Units Total</div>
                                    <div class="cell">Status</div>
                                </div>
                                <div class="row buy">
                                    <div class="cell">BUY</div>
                                    <div class="cell">SNTW</div>
                                    <div class="cell">9.2</div>
                                    <div class="cell">0</div>
                                    <div class="cell">100</div>
                                    <div class="cell">alive</div>
                                </div>
                                <div class="row sell">
                                    <div class="cell">BUY</div>
                                    <div class="cell">SNTW</div>
                                    <div class="cell">9.5</div>
                                    <div class="cell">20</div>
                                    <div class="cell">50</div>
                                    <div class="cell">alive</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mainRightDownLeft block">
                        <label class="title">ORDER BOOK</label>
                        <div id="orderBook" class="content">
                            <div class="orderBookBuy">
                                <div class="table">
                                    <div class="rowHead">
                                        <div class="cell">Amount</div>
                                        <div class="cell">Total</div>
                                        <div class="cell">Price</div>
                                    </div>
                                    <div class="row">
                                        <div class="cell">--</div>
                                        <div class="cell">--</div>
                                        <div class="cell">9.2</div>
                                    </div>
                                    <div class="row">
                                        <div class="cell">--</div>
                                        <div class="cell">--</div>
                                        <div class="cell">9.1</div>
                                    </div>
                                </div>
                            </div>
                            <div class="orderBookSell">
                                <div class="table">
                                    <div class="rowHead">
                                        <div class="cell">Price</div>
                                        <div class="cell">Total</div>
                                        <div class="cell">Amount</div>
                                    </div>
                                    <div class="row">
                                        <div class="cell">9.3</div>
                                        <div class="cell">--</div>
                                        <div class="cell">--</div>
                                    </div>
                                    <div class="row">
                                        <div class="cell">9.5</div>
                                        <div class="cell">--</div>
                                        <div class="cell">--</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="block">
                <label class="title">MY TRADE HISTORY</label>
                <div class="content">
                    TODO
                </div>
            </div>
        </footer>
    </page>
</body>

</html>