<!DOCTYPE html>
<html>

<head>
    <!--utils lib-->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/sprintf.js"></script>
    <!--ether lib-->
    <script type="text/javascript" src="js/web3.min.js"></script>
    <script type="text/javascript" src="js/ethers.js?{{.Uncache}}"></script>
    <!--contract data-->
    <script type="text/javascript" src="data/solaExchangeABI.js?{{.Uncache}}"></script>
    <script type="text/javascript" src="data/sntwABI.js?{{.Uncache}}"></script>
    <script type="text/javascript" src="data/sttwABI.js?{{.Uncache}}"></script>
    <script type="text/javascript" src="data/sttwStoreABI.js?{{.Uncache}}"></script>
    <!--icon-->
    <link rel="stylesheet" type="text/css" href="lib/fontawesome/css/font-awesome.css" />
    <!--my code-->
    <script type="text/javascript" src="js/solaEasy.js?{{.Uncache}}"></script>
    <!--必須在less.js之前-->
    <link rel="stylesheet/less" type="text/css" href="css/solaEasy.less?{{.Uncache}}">
    <script type='text/javascript' src='js/less.min.js'></script>
    <script type="text/javascript">
        function connectToServer() {
            var wsuri = "ws://{{.IP}}:{{.Port}}/WS";
            sock = new WebSocket(wsuri);

            sock.onopen = function() {
                console.log("connected to " + wsuri);
            };

            sock.onclose = function(e) {
                console.log("connection closed (" + e.code + ")");
                alert("斷線了，準備重連");
                location.reload();
            };

            sock.onmessage = function(e) {
                console.log(e.data);
                var packet = JSON.parse(e.data);
                var c = JSON.parse(packet.content);

                switch (packet.opcode) {
                    case "OP_INIT":
                        userId = c.userID;
                        //alert(sprintf("you temp ID:%s", userId));
                        break;
                    case "OP_TRADE_OK":
                        alert(c.msg + ", 約30秒後入帳");
                        buy(userWallet, c.amount.toString());
                        break;
                    default:
                        console.log("unknown packet");
                        break;
                }
            };
        }
    </script>
</head>

<body>
    <title>Sola Easy</title>
    <div class="page">
        <div class="menu">
            <div class="logo">
                <img src="img/easyLogo.png">
            </div>
            <div id="menuDashboard" class="menuItem">
                <img class="menuIcon" src="img/dashboard.png">
                <label class="menuLabel">Dashboard</label>
            </div>
            <div id="menuWallet" class="menuItem">
                <img class="menuIcon" src="img/wallet.png">
                <label class="menuLabel">My Wallet</label>
            </div>
            <div id="menuTrade" class="menuItem">
                <img class="menuIcon" src="img/trade.png">
                <label class="menuLabel">Trade</label>
            </div>
            <div id="menuLogout" class="menuItem">
                <img class="menuIcon" src="img/logout.png">
                <label class="menuLabel">Logout</label>
            </div>
        </div>
        <div class="main">
            <div class="mainBar">
                <div class="barItem">
                    <div class="itemContainer">
                        <div class="priceName sntw1">SNTW1</div>
                        <div class="priceValue">
                            <label class="bid">BID:<span id="sntwBid1"></span></label>
                            <label class="ask">ASK:<span id="sntwAsk1"></span></label>
                        </div>
                    </div>
                </div>
                <div class="barItem">
                    <div class="itemContainer">
                        <div class="priceName sntw2">SNTW2</div>
                        <div class="priceValue">
                            <label class="bid">BID:<span id="sntwBid2"></span></label>
                            <label class="ask">ASK:<span id="sntwAsk2"></span></label>
                        </div>
                    </div>
                </div>
                <div class="barItem">
                    <div class="itemContainer">
                        <div class="priceName sntw3">SNTW3</div>
                        <div class="priceValue">
                            <label class="bid">BID:<span id="sntwBid3"></span></label>
                            <label class="ask">ASK:<span id="sntwAsk3"></span></label>
                        </div>
                    </div>
                </div>
                <div class="barItem">
                    <div class="itemContainer">
                        <div id="username" class="username">Hi, Yao-Hsin</div>
                    </div>
                </div>
            </div>
            <div class="mainBody">
                <div id="dashboard">
                    <table class="balance">
                        <tr>
                            <td>
                                <div class="balanceItem">
                                    <div class="balanceItemName">
                                        <label class="balanceItemName1">Total Balance</label>
                                        <label class="balanceItemName2 twd">TWD</label>
                                    </div>
                                    <div id="balanceTwd" class="balanceItemValue">0</div>
                                </div>
                            </td>
                            <td>
                                <div class="balanceItem">
                                    <div class="balanceItemName">
                                        <label class="balanceItemName1">Solar Token Taiwan</label>
                                        <label class="balanceItemName2 sttw">STTW</label>
                                    </div>
                                    <div id="balanceSttw" class="balanceItemValue">0</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="balanceItem">
                                    <div class="balanceItemName">
                                        <label class="balanceItemName1">Solar Note Taiwan 1</label>
                                        <label class="balanceItemName2 sntw1">SNTW1</label>
                                    </div>
                                    <div id="balanceSntw1" class="balanceItemValue">0</div>
                                </div>
                            </td>
                            <td>
                                <div class="balanceItem">
                                    <div class="balanceItemName">
                                        <label class="balanceItemName1">Solar Note Taiwan 2</label>
                                        <label class="balanceItemName2 sntw2">SNTW2</label>
                                    </div>
                                    <div id="balanceSntw2" class="balanceItemValue">0</div>
                                </div>
                            </td>
                            <td>
                                <div class="balanceItem">
                                    <div class="balanceItemName">
                                        <label class="balanceItemName1">Solar Note Taiwan 3</label>
                                        <label class="balanceItemName2 sntw3">SNTW3</label>
                                    </div>
                                    <div id="balanceSntw3" class="balanceItemValue">0</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="history">
                        <table class="historyTable">
                            <tr>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Timestamp</th>
                                <th>Token</th>
                                <th>Size</th>
                                <th>Amount(TWD)</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="wallet">
                    <div class="walletContainer">
                        <div class="walletLeft">
                            <div class="walletLabel">Deposit Amount</div>
                            <div class="walletBlock">
                                <div class="walletUnit">TWD</div>
                                <input id="twdDepositAmount" class="walletInput" type="number" value=0></input>
                            </div>
                            <div class="walletLabel">Estimated Amount</div>
                            <div class="walletBlock">
                                <div class="walletUnit">STTW</div>
                                <div id="sttwEstimatedAmount" class="walletInput">0</div>
                            </div>
                            <div class="walletBlock">
                                <div id="buySTTW" class="button">Sumbit</div>
                            </div>
                        </div>
                        <div class="walletRight">
                            <div class="walletDescription">1 TWD = 1 SSTW</div>
                        </div>
                    </div>
                </div>
                <div id="trade">
                    <div class="tradeContainer">
                        <div class="tradeLeft">
                            <div class="tradeLabel">BID Amount</div>
                            <div class="tradeBlock">
                                <div class="tradeUnit">STTW</div>
                                <input id="sttwAmountPay" class="tradeInput" type="number" value=0></input>
                            </div>
                            <div class="tradeLabel">Estimated Amount</div>
                            <div class="tradeBlock">
                                <div class="tradeUnit">
                                    <select id="sntwTokenBuy">
                                        <option value="1">SNTW1</option>
                                        <option value="2">SNTW2</option>
                                        <option value="3">SNTW3</option>
                                    </select>
                                </div>
                                <div id="sntwAmountGet" class="tradeInput">0</div>
                            </div>
                            <div class="tradeBlock">
                                <div id="buySNTW" class="button bid">BID</div>
                            </div>
                        </div>
                        <div class="tradeRight">
                            <div class="tradeDescription">Please Note the trade amount may be different with the estimated amount.</div>
                        </div>
                    </div>
                    <div class="tradeContainer">
                        <div class="tradeLeft">
                            <div class="tradeLabel">ASK Amount</div>
                            <div class="tradeBlock">
                                <div class="tradeUnit">
                                    <select id="sntwTokenSell">
                                        <option value="1">SNTW1</option>
                                        <option value="2">SNTW2</option>
                                        <option value="3">SNTW3</option>
                                    </select>
                                </div>
                                <input id="sntwAmountPay" class="tradeInput" type="number" value=0></input>
                            </div>
                            <div class="tradeLabel">Estimated Amount</div>
                            <div class="tradeBlock">                            
                                <div class="tradeUnit">STTW</div>
                                <div id="sttwAmountGet" class="tradeInput">0</div>
                            </div>
                            <div class="tradeBlock">
                                <div id="sellSNTW" class="button ask">ASK</div>
                            </div>
                        </div>
                        <div class="tradeRight">
                            <div class="tradeDescription">Please Note the trade amount may be different with the estimated amount.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div hidden=true>
        <form id="formCreditCard" method="post" accept-charset="UTF-8" action="https://payment-stage.allpay.com.tw/Cashier/AioCheckOut/V4" target="_blank">
            MerchantID 商店代號:
            <input type="text" name="MerchantID" value="2000132" />
            <br /> MerchantTradeNo 商店交易編號:
            <input type="text" name="MerchantTradeNo" value="DX201711040035410390" />
            <br /> MerchantTradeDate 商店交易時間:
            <input type="text" name="MerchantTradeDate" value="2017/11/04 00:35:41" />
            <br /> PaymentType 交易類型:
            <input type="text" name="PaymentType" value="aio" />
            <br /> TotalAmount 交易金額:
            <input type="text" name="TotalAmount" value="5" />
            <br /> TradeDesc 交易描述:
            <input type="text" name="TradeDesc" value="建立信用卡測試訂單" />
            <br /> ItemName 商品名稱:
            <input type="text" name="ItemName" value="MacBook 30元X2#iPhone6s 40元X1" />
            <br /> ReturnURL 付款完成通知回傳網址:
            <input type="text" name="ReturnURL" value="https://developers.allpay.com.tw/AioMock/MerchantReturnUrl" />
            <br /> ChoosePayment 預設付款方式:
            <input type="text" name="ChoosePayment" value="Credit" />
            <br /> 會員商店代碼:
            <input type="text" name="StoreID" value="" />
            <br /> ClientBackURL Client端返回廠商網址:
            <input type="text" name="ClientBackURL" value="https://developers.allpay.com.tw/AioMock/MerchantClientBackUrl" />
            <br /> CreditInstallment 刷卡分期期數:
            <input type="text" name="CreditInstallment" value="" />
            <br /> InstallmentAmount 使用刷卡分期的付款金額:
            <input type="text" name="InstallmentAmount" value="" />
            <br /> Redeem 信用卡是否使用紅利折抵:
            <input type="text" name="Redeem" value="" />
            <br /> CheckMacValue 簽章類型:
            <input type="text" name="EncryptType" value="1" />
            <br /> CheckMacValue 檢查碼:
            <input type="text" name="CheckMacValue" value="72CF507EF67364245B143A5C52D24018B431322B82FB10E2548676CC385BF59E" />
            <br />
        </form>
    </div>
</body>

</html>