<!DOCTYPE html>
<html>

<head>
    <!--utils lib-->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/sprintf.js"></script>
    <!--ether lib-->
    <script type="text/javascript" src="js/web3.min.js"></script>
    <script type="text/javascript" src="js/ethers.js?{{.Uncache}}"></script>
    <!--contract data-->
    <script type="text/javascript" src="data/solaExchangeABI.js?{{.Uncache}}"></script>
    <script type="text/javascript" src="data/sntwABI.js?{{.Uncache}}"></script>
    <script type="text/javascript" src="data/sttwABI.js?{{.Uncache}}"></script>
    <script type="text/javascript" src="data/sttwStoreABI.js?{{.Uncache}}"></script>
    <!--icon-->
    <link rel="stylesheet" type="text/css" href="lib/fontawesome/css/font-awesome.css" />
    <!--my code-->
    <script type="text/javascript" src="js/solaEasy.js?{{.Uncache}}"></script>
    <!--必須在less.js之前-->
    <link rel="stylesheet/less" type="text/css" href="css/solaEasy.less?{{.Uncache}}">
    <script type='text/javascript' src='js/less.min.js'></script>
</head>

<body>
    <title>Sola Easy</title>
    <div class="page">
        <div class="menu">
            <div class="logo">
                <img src="img/easyLogo.png">
            </div>
            <div id="menuDashboard" class="menuItem">
                <img class="menuIcon" src="img/dashboard.png">
                <label class="menuLabel">Dashboard</label>
            </div>
            <div id="menuWallet" class="menuItem">
                <img class="menuIcon" src="img/wallet.png">
                <label class="menuLabel">My Wallet</label>
            </div>
            <div id="menuTrade" class="menuItem">
                <img class="menuIcon" src="img/trade.png">
                <label class="menuLabel">Trade</label>
            </div>
            <div id="menuLogout" class="menuItem">
                <img class="menuIcon" src="img/logout.png">
                <label class="menuLabel">Logout</label>
            </div>
        </div>
        <div class="main">
            <div class="mainBar">
                <div class="barItem">
                    <div class="itemContainer">
                        <div class="priceName sntw1">SNTW1</div>
                        <div class="priceValue">
                            <label class="bid">BID:110.00</label>
                            <label class="ask">ASK:99.1</label>
                        </div>
                    </div>
                </div>
                <div class="barItem">
                    <div class="itemContainer">
                        <div class="priceName sntw2">SNTW2</div>
                        <div class="priceValue">
                            <label class="bid">BID:110.00</label>
                            <label class="ask">ASK:99.1</label>
                        </div>
                    </div>
                </div>
                <div class="barItem">
                    <div class="itemContainer">
                        <div class="priceName sntw3">SNTW3</div>
                        <div class="priceValue">
                            <label class="bid">BID:110.00</label>
                            <label class="ask">ASK:99.1</label>
                        </div>
                    </div>
                </div>
                <div class="barItem">
                    <div class="itemContainer">
                        <div id="username" class="username">Hi, Yao-Hsin</div>
                    </div>
                </div>
            </div>
            <div class="mainBody">
                <div id="dashboard">
                    <table class="balance">
                        <tr>
                            <td>
                                <div class="balanceItem">
                                    <div class="balanceItemName">
                                        <label class="balanceItemName1">Total Balance</label>
                                        <label class="balanceItemName2 twd">TWD</label>
                                    </div>
                                    <div id="balanceTwd" class="balanceItemValue">0</div>
                                </div>
                            </td>
                            <td>
                                <div class="balanceItem">
                                    <div class="balanceItemName">
                                        <label class="balanceItemName1">Solar Token Taiwan</label>
                                        <label class="balanceItemName2 sttw">STTW</label>
                                    </div>
                                    <div id="balanceSttw" class="balanceItemValue">0</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="balanceItem">
                                    <div class="balanceItemName">
                                        <label class="balanceItemName1">Solar Note Taiwan 1</label>
                                        <label class="balanceItemName2 sntw1">SNTW1</label>
                                    </div>
                                    <div id="balanceSntw1" class="balanceItemValue">0</div>
                                </div>
                            </td>
                            <td>
                                <div class="balanceItem">
                                    <div class="balanceItemName">
                                        <label class="balanceItemName1">Solar Note Taiwan 2</label>
                                        <label class="balanceItemName2 sntw2">SNTW2</label>
                                    </div>
                                    <div id="balanceSntw2" class="balanceItemValue">0</div>
                                </div>
                            </td>
                            <td>
                                <div class="balanceItem">
                                    <div class="balanceItemName">
                                        <label class="balanceItemName1">Solar Note Taiwan 3</label>
                                        <label class="balanceItemName2 sntw3">SNTW3</label>
                                    </div>
                                    <div id="balanceSntw3" class="balanceItemValue">0</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="history">
                        <table class="historyTable">
                            <tr>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Timestamp</th>
                                <th>Token</th>
                                <th>Size</th>
                                <th>Amount(TWD)</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="wallet">
                    <div class="walletContainer">
                        <div class="walletLeft">
                            <div class="walletLabel">Deposit Ammount</div>
                            <div class="walletBlock">
                                <div class="walletUnit">TWD</div>
                                <input id="depositAmount" class="walletInput" type="number" value=0></input>
                            </div>
                            <div class="walletLabel">Estimated Ammount</div>
                            <div class="walletBlock">
                                <div class="walletUnit">STTW</div>
                                <div id="estimatedAmount" class="walletInput">0</div>
                            </div>
                            <div class="walletBlock">
                                <div class="button">Sumbit</div>
                            </div>
                        </div>
                        <div class="walletRight">
                            <div class="walletDescription">1 TWD = 1 SSTW</div>
                        </div>
                    </div>
                </div>
                <div id="trade">
                    <div class="tradeContainer">
                        <div class="tradeLeft">
                            <div class="tradeLabel">BID Ammount</div>
                            <div class="tradeBlock">
                                <div class="tradeUnit">STTW</div>
                                <input id="depositAmount" class="tradeInput" type="number" value=0></input>
                            </div>
                            <div class="tradeLabel">Estimated Ammount</div>
                            <div class="tradeBlock">
                                <div class="tradeUnit">
                                    <select>
                                        <option value="1">SNTW1</option>
                                        <option value="2">SNTW2</option>
                                        <option value="3">SNTW3</option>
                                    </select>
                                </div>
                                <div id="estimatedAmount" class="tradeInput">0</div>
                            </div>
                            <div class="tradeBlock">
                                <div class="button bid">BID</div>
                            </div>
                        </div>
                        <div class="tradeRight">
                            <div class="tradeDescription">Please Note the trade amount may be different with the estimated amount.</div>
                        </div>
                    </div>
                    <div class="tradeContainer">
                        <div class="tradeLeft">
                            <div class="tradeLabel">ASK Ammount</div>
                            <div class="tradeBlock">
                                <div class="tradeUnit">STTW</div>
                                <input id="depositAmount" class="tradeInput" type="number" value=0></input>
                            </div>
                            <div class="tradeLabel">Estimated Ammount</div>
                            <div class="tradeBlock">
                                <div class="tradeUnit">
                                    <select>
                                        <option value="1">SNTW1</option>
                                        <option value="2">SNTW2</option>
                                        <option value="3">SNTW3</option>
                                    </select>
                                </div>
                                <div id="estimatedAmount" class="tradeInput">0</div>
                            </div>
                            <div class="tradeBlock">
                                <div class="button ask">ASK</div>
                            </div>
                        </div>
                        <div class="tradeRight">
                            <div class="tradeDescription">Please Note the trade amount may be different with the estimated amount.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>